{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <form action="{% url 'student-list-url' %}" class="card p-4 login-form w-75 m-auto" method="post">
        {% csrf_token %}
        <div class="card-header">
            <p class="text-center text-info">STUDENTS (Total: {{students.count}})</p>
        </div>
        <label class="w-100">
            <select class="form-control" name="choice" id="choice" required>
                {% if list_choice == 0 %}
                    <option value="">All STUDENTS</option>
                    <option value="1">Active STUDENTS</option>
                    <option value="2">Inactive STUDENTS</option>
                {% elif list_choice == 1 %}
                    <option value="1">Active STUDENTS</option>
                    <option value="0">All STUDENTS</option>
                    <option value="2">Inactive STUDENTS</option>
                {% elif list_choice == 1 %}
                    <option value="2">Inactive STUDENTS</option>
                    <option value="0">All STUDENTS</option>
                    <option value="1">Active STUDENTS</option>
                {% else %}
                    <option value="0">All STUDENTS</option>
                    <option value="1">Active STUDENTS</option>
                    <option value="2">Inactive STUDENTS</option>
                {% endif %}
            </select>
        </label>
        <input class="form-control btn btn-primary"  type="submit" value="Generate">
    </form>
    <div class="p-3 w-100">

    </div>
    {% if students %}
        <div class="d-flex">
            <a class="btn btn-link w-25 m-auto" href="{% url 'generate-excel-all-student-url' %}">Download (ALL) Excel</a>
            <a class="btn btn-link w-25 m-auto" href="{% url 'generate-excel-all-student-url' %}">Download (ACTIVE) Excel</a>
            <a class="btn btn-link w-25 m-auto" href="{% url 'generate-excel-all-student-url' %}">Download (INACTIVE) Excel</a>
        </div>
        <div class="card border w-100 m-auto" id="clock">
            <div class="card-header bg-dark d-block">
                <div class="w-100 d-flex">
                    <img class="w-50 m-auto" src="{% static 'sysimg/logo.png' %}" alt="">
                </div>
                <p class="text-center text-white text-uppercase font-weight-bolder">STUDENTS LIST</p>
            </div>
            <table class="card-body table table-bordered table-striped-custom">
                <thead>
                <tr>
                    <td class="font-weight-bolder">Name</td>
                    <td class="font-weight-bolder">Registration No.</td>
                    <td class="font-weight-bolder">Phone Number</td>
                    <td class="font-weight-bolder">Email</td>
                    <td class="font-weight-bolder">Course</td>
                    <td class="font-weight-bolder">Status(Active/Inactive)</td>
                    <td class="font-weight-bolder">Edit Button</td>
                </tr>
                </thead>
                <tbody>
                {% for student in students %}
                    <tr class="" style="border: 2px solid black">
                        <td class="text-capitalize">{{ student.name }}</td>
                        <td class="text-capitalize">{{ student.registration_number}}</td>
                        <td>{{ student.phone }}</td>
                        <td>{{ student.email }}</td>
                        <td class="text-capitalize">student.course_taking</td>
                        <td>
                            <div class="d-flex w-100 pt-1 pb-1">
                                {% if student.is_active %}
                                    <p class="m-auto text-success font-weight-bolder" >Active</p>
                                    <a class="m-auto btn btn-danger" href="{% url 'student-status-url' student.id%}">Deactivate</a>
                                {% else %}
                                    <p class="m-auto text-danger font-weight-bolder" >Inactive</p>
                                    <a class="m-auto btn btn-success" href="{% url 'student-status-url' student.id%}">Activate</a>
                                {% endif %}

                            </div>
                        </td>
                        <td>
                            <a class="btn btn-link" href="{% url 'student-edit-url' student.id %}">Edit</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

{% endblock %}