{% extends 'hospital/base.html' %}
{% load static %}
{% block content %}
    <div class="index-container w-100 row m-auto pt-2 pb-5" style="height: fit-content">
        <div class="col-md-4 col-sm-12 card" style="background-color: #721c24; min-height: 40vh">
            <div class="card-header">
                <p class="text-center">Patient Records</p>
            </div>
            <div class="card-body d-flex">
                <form class="w-100 form-group" action="{% url 'patient-search-url' %}" method="post">
                    {% csrf_token %}
                    <label class="w-100" for="search">
                        <input class="form-control" name="input" type="text" placeholder="ID/REG No.">
                    </label>
                    <input class="form-control btn btn-info" type="submit" value="Search">
                </form>
            </div>
        </div>

        <div class="col-md-4 col-sm-12 card" style="background-color: #20c997; height: 40vh">
            <div class="card-header">
                <p class="text-center">Total Patients</p>
            </div>
            <div class="card-body d-flex">
                <h1 class="m-auto">{{ patients }}</h1>
            <a href="{% url 'patient-type-url' %}" class="m-auto d-flex btn btn-info">
                    <img src="{% static 'sysimg/plus.svg' %}" alt="">
                    ADD
                </a>
            </div>
        </div>
    </div>
    <div class="index-container w-100 row m-auto p-1" style="height: fit-content">
        <div class="col-md-4 col-sm-12 card" style="background-color: rgba(0,0,139,0.43); height: 40vh ">
            <div class="card-header">
                <p class="text-center">Active Appointments</p>
            </div>
            <div class="card-body d-flex">
                <h1 class="m-auto">{{ active_appointments.count }}</h1>
                <a href="{% url 'active-appointments-url' %}" class="m-auto w-75 text-center btn btn-info">
                    View
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 card" style="background-color: #086313; height: 40vh">
            <div class="card-header">
                <p class="text-center">All Appointments</p>
            </div>
            <div class="card-body d-flex">
                <h1 class="m-auto">{{ all_appointments.count }}</h1>
                <a href="{% url 'all-appointments-url' %}" class="m-auto btn btn-info w-75 text-center">
                    View
                </a>
            </div>
        </div>
    </div>
{% endblock %}