{#Footer start==============================#}
<section class="footer-container">
    <div class="row">
        <div class="col-md-8 col-sm-12">
            <h2 class="text-center text-dark">Developer Social Media Links</h2>
            <ul class="list-unstyled w-100">
                <li class="w-100 text-left">
                    <a href="https://www.facebook.com/bestsolutionproviders/" class="btn btn-link text-white w-100 text-left">Facebook</a>
                </li>
                <li class="w-100 text-left">
                    <a href="https://www.instagram.com/saulmupalia/" class="btn btn-link text-white w-100 text-left">Instagram</a>
                </li>
                 <li class="w-100 text-left">
                    <a href="https://www.github.com/saulnyongesa/" class="btn btn-link text-white w-100 text-left">GitHub</a>
                </li>
            </ul>
        </div>
        <div class="col-md-4 col-sm-12" style="border-left: 1px solid black">
            <h2 class="text-center text-dark">Quick Link</h2>
            <ul class="list-unstyled w-100">
                <li class="w-100 text-left">
                    <a href="/" class="btn btn-link text-white w-100 text-left">Home Page</a>
                </li>
                <li class="w-100 text-left">
                    <a href="/base/" class="btn btn-link text-white w-100 text-left">System Admin Portal</a>
                </li>
                <li class="w-100 text-left">
                    <a href="/clock/" class="btn btn-link text-white w-100 text-left">Clock In/Out System</a>
                </li>
                <li class="w-100 text-left">
                    <a href="/hospital/" class="btn btn-link text-white w-100 text-left">Hospital Management System Postal</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="text-center w-100">
        <p class="text-center text-white font-weight-bolder">
            This system was designed and developed by:
            <a href="https://www.facebook.com/bestsolutionproviders" class="btn btn-link text-uppercase">Best Solution Providers</a>
        </p>
    </div>
</section>
{#Footer end==============================#}
